---
layout: default
category: tech
---

<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
<script src="/scripts/main.js"></script>

<div id="tabs">
  <ul>
  {% for category in site.categories %}
    <li><a href="#tabs-{{ category[0] }}">{{ category[0] }}</a></li>
  {% endfor %}
  </ul>
{% for category in site.categories %}
  <div id="tabs-{{ category[0] }}">
    <ul class="tag-box">
    </ul>

    <ul class="post-list">
    {% for post in category[1] %} 
      <li class="hidden">
        <article itemprop="blogPost" itemscope="itemscope" itemtype="http://schema.org/Article">
          <meta itemprop="keywords" content="{{ post.tags | join: ',' }}" />
          <a href="{{ post.url }}">{{ post.title }} <span class="entry-date"><time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%B %d, %Y" }}</time></span></a>
        </article>
      </li>
    {% endfor %}
    </ul>
  </div>
{% endfor %}
</div>
