---
---

@import "bootstrap.css";
@import "prism.css";

@import "_vars.scss";

@import url(//fonts.googleapis.com/css?family=Nunito);

.site-name {
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
  border-bottom: solid 1px;
  margin-top: 8px;
  margin-bottom: 16px;
  padding-bottom: 4px
}

.site-name a {
  color: black
}

.site-name a:hover {
  color: black;
  text-decoration: none
}

.banner {
  margin: 20px
}

aside:before, nav:before {
  display: block;
  content: '';
  border-bottom: 1px solid lightgray;
  position: relative;
  top: 19px;
  left: 0;
  width: 100%;
  z-index: -1;
}

aside .header, nav .header {
  display: table;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  background-color: white;
  padding-right: 8px
}

aside.share a {
  display: inline-block;
  img {
    width: 30px;
    height: 30px;
    margin: 2px
  }
}

nav ul {
  padding-left: 0
}

nav li {
  margin-top: 10px;
  margin-bottom: 10px;
  display: block
}

nav a {
  display: block;
  font-size: 14px;
  line-height: 16px
}

.page-header {
  margin: 20px 0
}

.post .published {
  font-style: italic;
  color: $gray;
  display: block;
  margin: 12px 0
}

ul.taglist {
  list-style-type: none;
  padding: 0
}

ul.taglist li.tag:before {
  content: '#'
}

ul.taglist li.tag {
  display: inline;
  font-size: 75%;
  color: #505050;
  background-color: #FFFF99;
  padding: 0.2em 0.6em;
  border-radius: 0.8em
}

ul.taglist li.tag a {
  color: inherit
}

/* Enable horizontal scrolling for code blocks */
pre code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre
}

/* In Markdown use with: {: class="wrap"} */
pre.wrap code {
  white-space: pre-wrap;
  word-break: normal
}

dd {
  margin-left: 20px
}

article img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%  /* scale images if they are too large (in particular when displayed on small devices) */
}

/* Don't allow prism to override the font-family */
code[class*="language-"], pre[class*="language-"] {
  font-family: $font-family-monospace
}