@import "bootstrap.css";
@import "prism.css";

@import url(http://fonts.googleapis.com/css?family=Nunito);

.site-name {
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
  border-bottom: solid 1px;
  margin-top: 8px;
  margin-bottom: 16px;
  padding-bottom: 4px
}

.site-name a {
  color: black
}

.site-name a:hover {
  color: black;
  text-decoration: none
}

.banner {
  margin: 20px
}

.navigation .header {
  font-weight: bold;
  font-size: 120%;
  border-bottom: solid 2px
}

.navigation ul {
  padding-left: 20px
}

.navigation li {
  margin-top: 5px;
  margin-bottom: 5px
}

.navigation a {
  display: inline-block;
  vertical-align: top;
  font-size: 90%
}

.page-header {
  margin: 20px 0
}

.post .published {
  font-style: italic;
  color: $gray;
  display: block;
  margin: 12px 0
}

ul.taglist {
  list-style-type: none;
  padding: 0
}

ul.taglist li.tag:before {
  content: '#'
}

ul.taglist li.tag {
  display: inline;
  font-size: 75%;
  color: #505050;
  background-color: #FFFF99;
  padding: 0.2em 0.6em;
  border-radius: 0.8em
}

ul.taglist li.tag a {
  color: inherit
}

/* Enable horizontal scrolling for code blocks */
pre code {
  overflow: auto;
  word-wrap: normal;
  white-space: pre
}

/* In Markdown use with: {: class="wrap"} */
pre.wrap code {
  white-space: pre-wrap;
  word-break: normal
}

dd {
  margin-left: 20px
}
