$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$font-family-monospace: 'Inconsolata', monospace;
$font-size-base: 17px;
$headings-font-weight: 600;
$blockquote-font-size: $font-size-base;
$code-color: rgb(150,150,150);

@import "bootstrap/variables";
