---
---

<!DOCTYPE html>
<html>
  <head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# article: http://ogp.me/ns/article#">
    <meta charset="utf-8" />
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <title>{{ page.title }}</title>
    <script src="{{ site.baseurl }}/scripts/modules.js"></script>
    {% include tracker.html %}
    {% for script in page.scripts %}
    <script src="{{ script }}"></script>
    {% endfor %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style/{{ page.style }}.css" />
    <meta property="fb:admins" content="1722464172" />
    <link rel="author" href="https://plus.google.com/113984689781548338264"/>
    <link rel="canonical" href="{{ site.url }}{{ page.url }}"/>

    <meta name="author" content="Andreas Veithen" />

    {% if page.metadata %}
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@AndreasVeithen"/>
    <meta name="twitter:creator" content="@AndreasVeithen"/>
    <meta property="og:title" content="{{ page.title }}" />
    <meta property="og:site_name" content="Andreas Veithen's blog" />
    <meta property="og:url" content="{{ site.url }}{{ page.url }}" />
    <meta property="og:description" content="{{ page.excerpt | strip_html | replace: '"', '&amp;' }} ..." />
    {% if page.image %}
    <meta property="og:image" content="{{ site.url }}{{ page.image }}" />
    {% endif %}
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{{ page.date | date: '%Y-%m-%d' }}" />
    {% if page.updated %}
    <meta property="article:modified_time" content="{{ page.updated | date: '%Y-%m-%d' }}" />
    {% endif %}
    <meta property="article:author" content="Andreas Veithen" />
    <meta property="article:section" content="{{ page.category }}" />
    {% for tag in page.tags %}
    <meta property="article:tag" content="{{ tag }}" />
    {% endfor %}
    {% endif %}

    <!--[if lt IE 9]>
    <script type="text/javascript">window.location="{{ site.baseurl }}/old-browser.html";</script>
    <![endif]-->

    <link rel="alternate" type="application/atom+xml" title="Andreas Veithen's blog - Atom feed" href="{{ site.baseurl }}/feed.xml" />

    {% if page.prism %}
    <script src="/scripts/prism.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style/prism.css" />
    {% endif %}
    {% if site.banner %}
    <script>
    var trackOutboundLink = function(url) {
      require(['ga'], function(ga) {
        ga('send', 'event', 'outbound', 'click', url, {'hitCallback':
          function () {
            document.location = url;
          }
        });
      });
    }
    </script>
    {% endif %}
    {% if page.disqus %}
    <script>
    var disqus_identifer = '{{ page.id }}';
    var disqus_url = '{{ site.url }}{{ page.url }}';
    var disqus_title = '{{ page.title | replace: "'", "\\'" }}';
    var disqus_category_id = '{{ site.disqus_categories[page.category] }}';
    require(['//veithen.disqus.com/embed.js']);
    </script>
    {% endif %}
  </head>

{{ content }}

</html>
